* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #6ABBE2;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

body {
  
}